html {
    background-color: #005F60;
    height: 100%;
}

h1 {
    color: #f8f7ca;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    height: 335px;
    width: 350px;
    background-color:  #F78104;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px ;
    grid-template-areas: 
    ". new-index"
    ". new-read-index"
    "btn btn"
    ". monthly-intake"
    ". total-amount";
    margin: 0 auto;
    border: 5px solid #f8f7ca;
    padding: 25px;
}

#new-index {
    grid-area: new-index;
    height: 25px;
    width: 250px;
}

#new-read-index {
    grid-area: new-read-index;
    height: 25px;
    width: 250px;
}

#monthly-intake {
    grid-area: monthly-intake;
    height: 25px;
    width: 250px;
}

#total-amount {
    grid-area: total-amount;
    height: 25px;
    width: 250px;
}

#btn {
    grid-area: btn;
    height: 25px;
    width: auto;
}